<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Criar partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="criar-partida-content">
  <ion-card class="criar-partida-card">
    <ion-card-header class="criar-partida-card-header">
      <ion-card-title class="criar-partida-card-title">Nova partida</ion-card-title>
    </ion-card-header>
    <ion-card-content class="criar-partida-card-content">
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Quadra</ion-label>
        <ion-select [(ngModel)]="quadraId" placeholder="Selecione" class="criar-partida-select">
          <ion-select-option *ngFor="let q of quadras" [value]="q.id">{{ q.nome }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Data</ion-label>
        <ion-input type="date" [(ngModel)]="data" class="criar-partida-input"></ion-input>
      </ion-item>
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Horário</ion-label>
        <ion-input type="time" [(ngModel)]="horario" class="criar-partida-input"></ion-input>
      </ion-item>
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select [(ngModel)]="categoria" class="criar-partida-select">
          <ion-select-option *ngFor="let c of categorias" [value]="c">{{ c }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Nível</ion-label>
        <ion-select [(ngModel)]="nivel" class="criar-partida-select">
          <ion-select-option *ngFor="let n of niveis" [value]="n">{{ n }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="criar-partida-item" lines="none">
        <ion-label position="stacked">Vagas totais</ion-label>
        <ion-input type="number" [(ngModel)]="vagasTotais" min="2" class="criar-partida-input"></ion-input>
      </ion-item>
      <ion-item class="criar-partida-item criar-partida-toggle" lines="none">
        <ion-label>Modo emergência</ion-label>
        <ion-toggle [(ngModel)]="modoEmergencia"></ion-toggle>
      </ion-item>
      <ion-button expand="block" color="secondary" (click)="salvar()" [disabled]="loading" class="criar-partida-btn">
        Criar partida
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
