<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="main-menu" type="overlay">
      <ion-header class="app-menu-header">
        <ion-toolbar class="app-menu-toolbar">
          <div class="app-menu-user">
            <img src="assets/images/beach_chama.jpg" alt="Beach Chama" class="app-menu-logo" />
            <p class="app-menu-greeting">Olá, {{ auth.getCurrentUser()?.nome ?? 'Usuário' }}</p>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="app-menu-content">
        <ion-list class="app-menu-list" lines="none">
          <ion-item button routerLink="/home" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="home-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Início</ion-label>
          </ion-item>
          <ion-item button routerLink="/partidas" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="calendar-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Partidas</ion-label>
          </ion-item>
          <ion-item button routerLink="/perfil" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="person-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Meu perfil</ion-label>
          </ion-item>
          @if (auth.isAdmin()) {
          <ion-item button routerLink="/admin" routerLinkActive="app-menu-item-active" class="app-menu-item app-menu-item-admin">
            <ion-icon name="settings-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Área administrativa</ion-label>
          </ion-item>
          <ion-item button routerLink="/admin/quadras" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="business-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Quadras</ion-label>
          </ion-item>
          <ion-item button routerLink="/admin/interessados" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="people-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Interessados</ion-label>
          </ion-item>
          <ion-item button routerLink="/admin/demo-etapa3" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="document-text-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Ambiente de teste</ion-label>
          </ion-item>
          <ion-item button routerLink="/admin/testes-nativos" routerLinkActive="app-menu-item-active" class="app-menu-item">
            <ion-icon name="phone-portrait-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Testes do dispositivo</ion-label>
          </ion-item>
          }
          <ion-item button (click)="logout()" class="app-menu-item app-menu-item-sair">
            <ion-icon name="log-out-outline" class="app-menu-icon" slot="start"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
