<ion-header>
  <ion-toolbar>
    <ion-title>Beach Chama - Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">
  <div class="register-wrapper">
    <ion-card class="register-card">
      <ion-card-header class="register-card-header">
        <ion-card-title class="register-card-title">Criar conta (usuário comum)</ion-card-title>
      </ion-card-header>
      <ion-card-content class="register-card-content">
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">Nome</ion-label>
          <ion-input [(ngModel)]="nome" placeholder="Seu nome" class="register-input"></ion-input>
        </ion-item>
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="seu@email.com" class="register-input"></ion-input>
        </ion-item>
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="senha" placeholder="Senha" class="register-input"></ion-input>
        </ion-item>
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">Sexo</ion-label>
          <ion-select [(ngModel)]="sexo" placeholder="Selecione" class="register-select">
            <ion-select-option *ngFor="let s of sexos" [value]="s">{{ s }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">Nível</ion-label>
          <ion-select [(ngModel)]="nivel" placeholder="Selecione" class="register-select">
            <ion-select-option *ngFor="let n of niveis" [value]="n">{{ n }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="register-item" lines="none">
          <ion-label position="stacked">Categorias que joga</ion-label>
          <ion-select [(ngModel)]="categoriasPermitidas" multiple="true" placeholder="Selecione" class="register-select">
            <ion-select-option *ngFor="let c of categorias" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" color="secondary" (click)="register()" [disabled]="loading" class="register-btn">
          Cadastrar
        </ion-button>
        <p class="register-link-wrap">
          <a routerLink="/login" class="register-link">Já tenho conta - Entrar</a>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
